<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 목록</title>
  <link rel="stylesheet" href="/board/css/common.css">
  <link rel="stylesheet" href="/board/css/list.css">
</head>
<body>
  <div class="container">
    <h1>회원 목록</h1>
    <div class="nav">
      <a href="register.html" class="btn">회원가입</a>
      <a href="login.html" class="btn btn-secondary">로그인</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>아이디</th>
          <th>이메일</th>
          <th>가입일</th>
        </tr>
      </thead>
      <tbody>
        <!-- 수강생 실습: 동적 데이터 바인딩 영역 -->
        <!-- member 인원만큼 반복 출력 -->
        <tr th:each="member : ${members}">
          <!-- 회원 번호 출력 -->
          <td th:text="${member.id}">3</td>
          <!-- 아이디를 출력과, 클릭하면 수정 페이지로 이동 -->
          <td>
            <a th:href="@{edit.html(id=${member.id})}"
               th:text="${member.username}"></a>
          </td>
          <!-- 회원 이메일 출력 -->
          <td th:text="${member.email}"></td>
          <!-- 회원 생성 날짜 출력 -->
          <td th:text="${member.createdAt}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
